@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: white;
  }
 
  header{
      background-color: #143250 ;
      display:flex;
      align-items: center;
      justify-content: center;     
      height: 110pt;
      position: relative;
      margin-left: -20px;
      margin-right: -20px;
      margin-top: 0px;
      padding: 0px;
      
      
  }


  #contact_info{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-left: 50px;
    padding-top: 20px;
    line-height: 150%;
  }

  h1 {
    color: white;
    font-family:sans-serif;   
    
  }
  #score_holder{
    display: flex;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    background-color: #080d27 ;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    color: rgb(238, 129, 52);
  }

  section{
    height: 530px;  
    margin-left: -10px;
    margin-right: -10px;
    background-color: #080d27 ;
    display:flex;
    align-items: center;
    justify-content: center;
    
  }
  #canvas{
    background-color: white;
  }

  #button_holder{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
    background-color: #080d27 ;
    
  }

  button{
    width: 265px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
  }



  footer{
    height: 110pt;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -15px;
    padding: 0px;
    background-color: #143250 ;
  }

